.contact-list {
  list-style-type: none;
}
#button {
  padding: 20px 0px;
  text-align: center;
  background-color: seagreen;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin-left: 480px;
  margin-top: 20px;
}
.itemSelect {
  padding: 20px 0px;
  text-align: center;
}
header {
  padding: 20px 0px;
  text-align: center;
  background-color: #e98008;
}
