<section>
  <h1 class="itemSelect">Click On item you want to Select</h1>
  {{ checklocal() }}

  <ul class="contact-list">
    <app-contact-list-item
      *ngFor="
        let contact of contacts"
      (clicked)="handleContactClicked($event)"
      [contact]="contact"
    ></app-contact-list-item>
  </ul>
  <button
    id="button"
    role="button"
    class="btn btn-primary"
    (click)="ProfilePage()"
  >
    Go To Profile
  </button>
</section>

<pagination-controls></pagination-controls>
