.main-content {
  background-image: url("http://images2.fanpop.com/image/photos/11000000/Pokemon-ash-ketchum-11013161-1680-1050.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 16fr 4fr;
}
