.button1bouncy {
  transition: transform 0.35s ease-in-out;
  display: block;
  width: 8em;
  height: 8em;
  background: rgba(51, 51, 51, 0.85);
  position: absolute;
  top: 1em;
  left: 4em;
  padding: 0.75em;
  pointer-events: none;
  color: whitesmoke;
}

.box2 {
  border: 3px solid rgb(214, 14, 14);
  display: grid;
  grid-gap: 7px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));
  display: inline-block;
  margin: 20px;
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-gym.png");
  box-shadow: 5px 10px #888888;
}

.operation {
  float: right;
  height: 50px;
  width: 100px;
  padding-right: 20px;
  font-style: inherit;
  margin: 100pxs;
  background-color: aqua;
}
