<i class="material-icons" id="Uname"> face </i>
{{getUser()}}
<button class="operation" (click)="return()">Log Out</button>&nbsp;&nbsp;
<button class="operation" (click)="trainer()">TrainerPage</button>
{{ checklocal() }}
<div class="pokemon-grid">
  <div class="box2" *ngFor="let contact of getStorage()">
    <img src="{{ contact?.sprites?.back_default }}" />
    <p>{{contact.name}}</p>

    <p>weight:{{contact?.height}}</p>
    <p>Height:{{contact?.height}}</p>
    <!-- <p>Health:{{contact.stats[0].base_stat}}</p>
    <p>Attack Power:{{contact.stats[1].base_stat}}</p> -->
  </div>
</div>
