header {
  padding: 20px 0px;
  text-align: center;
  background-color: seagreen;
}

header h1 {
  text-transform: uppercase;
  color: rgb(21, 77, 161);
  letter-spacing: 3px;
  font-family: "Dancing Script", cursive;
  font-family: "Megrim", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Reggae One", cursive;
  font-family: "RocknRoll One", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-size: 70px;
}
#username {
  font-family: "Shadows Into Light", cursive;
}
button {
  font-family: "Pacifico", cursive;
  font-family: "Reggae One", cursive;
  background-color: rgba(13, 160, 123, 0.3);
  height: 40px;
  padding: 20px;
  margin: 20px;
}
#contactname {
  padding: 20px;
}
