<div class="container">
  <header>
    <h1>Add new Contact</h1>

    {{checklocal()}}
  </header>
  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset id="contactname">
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        type="text"
        [ngClass]="{'is-valid': name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
        id="name"
        name="name"
        required
        minlength="2"
        ngModel
        #name="ngModel"
        placeholder=""
      />
      <div *ngIf="name.errors && name.invalid && (name.dirty || name.touched)">
        <div class="invalid-feedback" *ngIf="name.errors.required">
          The name is required
        </div>
        <div class="invalid-feedback" *ngIf="name.errors.minlength">
          The name is too short
        </div>
      </div>
    </fieldset>

    <button
      class="form-label"
      class="btn btn-primary"
      [disabled]="createForm.invalid"
    >
      Add user
    </button>
    <button class="btn btn-primary">Cancel</button>
  </form>
  <!-- <p>{{ getName() }}</p> -->
</div>
