.box1 {
  border: 3px solid rgba(235, 231, 9, 0.3);
  margin: 10px;

  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
  margin-top: 100px;
  border-radius: 10px;
  padding: 5px;
  width: auto;
  display: inline-block;
}
.pokemon-grid {
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));
}
