<div class="pokemon-grid">
  <div class="box1">
    <div *ngFor="let contact of getStorage()">
      <img src="{{ contact?.sprites?.back_default }}" />
      <p>Type{{ contact?.name }}</p>
      <p>weight:{{ contact.height }}</p>
      <p>Height:{{ contact.height }}</p>
      <!-- <p>Health:{{ contact.stats[0].base_stat }}</p>
      <p>Attack Power:{{ contact.stats[1].base_stat }}</p> -->
    </div>
  </div>
</div>
