.pokemon-grid {
  border: 3px solid rgb(58, 50, 50);
  display: grid;
  grid-gap: 7px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));
  display: inline-block;
  margin: 20px;
  /* background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-gym.png"); */
  box-shadow: 5px 10px #888888;
}
.pokemon-grid .box {
  width: auto;
  height: auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  text-align: center;
}
.pokemon-grid .box img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
