<div class="pokemon-grid">
  <div class="box">
    <li class="contact-list-item" (click)="onContactClicked()">
      <img
        src="{{ contact?.sprites?.back_default }}"
        height="100px"
        width="100px"
      />
      <img src="{{ contact?.sprites?.back_default }}" />
      <p>{{ contact?.name }}</p>

      <p>weight:{{ contact?.height }}</p>
      <p>Height:{{ contact?.weight }}</p>
    </li>
  </div>
</div>
